div.menu_frame {
    background: #000;
    position:absolute;

    left: 14%;
    right: 14%;
    top: 12%;

    bottom: 12%;
    z-index: 20;
    border: 3px solid #828c95;
    border-radius: 50% 50% 5% 4%/11% 11% 80% 80%;

    -webkit-transition: -webkit-transform 1.3s ease-in;
    -webkit-transform: translate3d(0px, 1500px, 0px);

    box-shadow: 0px 0px 28px #000;

    background: #737577;
    background: -moz-linear-gradient(top,  #737577 0%, #afb1b5 11%, #bfbfbf 12%, #aaaaaa 21%, #bcbcbc 27%, #64656d 27%, #797b7c 31%, #6e7072 35%, #bcbcbc 35%, #aaaaaa 42%, #bcbcbc 49%, #64656d 49%, #7a7e7f 53%, #6e7072 57%, #c9c9c9 57%, #aaaaaa 64%, #b2b2b2 70%, #64656d 70%, #7a7e7f 74%, #6e7072 78%, #bababa 78%, #a0a0a0 93%, #7e7f89 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#737577), color-stop(11%,#afb1b5), color-stop(12%,#bfbfbf), color-stop(21%,#aaaaaa), color-stop(27%,#bcbcbc), color-stop(27%,#64656d), color-stop(31%,#797b7c), color-stop(35%,#6e7072), color-stop(35%,#bcbcbc), color-stop(42%,#aaaaaa), color-stop(49%,#bcbcbc), color-stop(49%,#64656d), color-stop(53%,#7a7e7f), color-stop(57%,#6e7072), color-stop(57%,#c9c9c9), color-stop(64%,#aaaaaa), color-stop(70%,#b2b2b2), color-stop(70%,#64656d), color-stop(74%,#7a7e7f), color-stop(78%,#6e7072), color-stop(78%,#bababa), color-stop(93%,#a0a0a0), color-stop(100%,#7e7f89));
    background: -webkit-linear-gradient(top,  #737577 0%,#afb1b5 11%,#bfbfbf 12%,#aaaaaa 21%,#bcbcbc 27%,#64656d 27%,#797b7c 31%,#6e7072 35%,#bcbcbc 35%,#aaaaaa 42%,#bcbcbc 49%,#64656d 49%,#7a7e7f 53%,#6e7072 57%,#c9c9c9 57%,#aaaaaa 64%,#b2b2b2 70%,#64656d 70%,#7a7e7f 74%,#6e7072 78%,#bababa 78%,#a0a0a0 93%,#7e7f89 100%);
    background: -o-linear-gradient(top,  #737577 0%,#afb1b5 11%,#bfbfbf 12%,#aaaaaa 21%,#bcbcbc 27%,#64656d 27%,#797b7c 31%,#6e7072 35%,#bcbcbc 35%,#aaaaaa 42%,#bcbcbc 49%,#64656d 49%,#7a7e7f 53%,#6e7072 57%,#c9c9c9 57%,#aaaaaa 64%,#b2b2b2 70%,#64656d 70%,#7a7e7f 74%,#6e7072 78%,#bababa 78%,#a0a0a0 93%,#7e7f89 100%);
    background: -ms-linear-gradient(top,  #737577 0%,#afb1b5 11%,#bfbfbf 12%,#aaaaaa 21%,#bcbcbc 27%,#64656d 27%,#797b7c 31%,#6e7072 35%,#bcbcbc 35%,#aaaaaa 42%,#bcbcbc 49%,#64656d 49%,#7a7e7f 53%,#6e7072 57%,#c9c9c9 57%,#aaaaaa 64%,#b2b2b2 70%,#64656d 70%,#7a7e7f 74%,#6e7072 78%,#bababa 78%,#a0a0a0 93%,#7e7f89 100%);
    background: linear-gradient(to bottom,  #737577 0%,#afb1b5 11%,#bfbfbf 12%,#aaaaaa 21%,#bcbcbc 27%,#64656d 27%,#797b7c 31%,#6e7072 35%,#bcbcbc 35%,#aaaaaa 42%,#bcbcbc 49%,#64656d 49%,#7a7e7f 53%,#6e7072 57%,#c9c9c9 57%,#aaaaaa 64%,#b2b2b2 70%,#64656d 70%,#7a7e7f 74%,#6e7072 78%,#bababa 78%,#a0a0a0 93%,#7e7f89 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#737577', endColorstr='#7e7f89',GradientType=0 );

}

div.screen_overlay_tile {
    background-image: url(../assets/images/menus/screen_overlay_tile.png);
}

div.screen_overlay_shine {
    background-image: url(../assets/images/menus/screen_overlay_shine.png);
    background-size: 100% 100%;
}

div.button_overlay_tile {
    background-image: url(../assets/images/menus/button_overlay_tile.png);
    opacity: 0.15;
}

div.scratches_overlay_tile {
    background-image: url(../assets/images/menus/scratches_overlay_tile.png);
    opacity: 0.35;
}

div.overlay {
    pointer-events: none;
    position:absolute;
    border-radius: inherit;
    bottom: 0px;
    right: 0px;
    left: 0px;
    top: 0px;
}

div.play_comp {
    background-image: url(../assets/images/menus/playcomp.png);
    background-size: 100% 100%;
}

div.mixer_comp {
    background-image: url(../assets/images/menus/mixer.png);
    background-size: 100% 100%;
}

div.info_screen {
    position:absolute;
    font-family: verdana;
    color: #fff;
    text-align: left;
    font-size: 12px;
    left: 10px;
    width: 200px;
    top: 10px;
    height: 200px;
}

div.menu_backplate {
    border: 3px solid #e0dde0;
    border-radius: 50% 50% 5% 4%/11% 11% 80% 80%;
    box-shadow: 0px 0px 18px #000;

    background: #96999b;
    background: -moz-linear-gradient(top,  #96999b 0%, #afb1b5 11%, #bfbfbf 12%, #aaaaaa 21%, #bcbcbc 42%, #aaaaaa 42%, #aaaaaa 56%, #bcbcbc 56%, #b2b2b2 74%, #c9c9c9 85%, #b7b7b7 86%, #9899a5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#96999b), color-stop(11%,#afb1b5), color-stop(12%,#bfbfbf), color-stop(21%,#aaaaaa), color-stop(42%,#bcbcbc), color-stop(42%,#aaaaaa), color-stop(56%,#aaaaaa), color-stop(56%,#bcbcbc), color-stop(74%,#b2b2b2), color-stop(85%,#c9c9c9), color-stop(86%,#b7b7b7), color-stop(100%,#9899a5));
    background: -webkit-linear-gradient(top,  #96999b 0%,#afb1b5 11%,#bfbfbf 12%,#aaaaaa 21%,#bcbcbc 42%,#aaaaaa 42%,#aaaaaa 56%,#bcbcbc 56%,#b2b2b2 74%,#c9c9c9 85%,#b7b7b7 86%,#9899a5 100%);
    background: -o-linear-gradient(top,  #96999b 0%,#afb1b5 11%,#bfbfbf 12%,#aaaaaa 21%,#bcbcbc 42%,#aaaaaa 42%,#aaaaaa 56%,#bcbcbc 56%,#b2b2b2 74%,#c9c9c9 85%,#b7b7b7 86%,#9899a5 100%);
    background: -ms-linear-gradient(top,  #96999b 0%,#afb1b5 11%,#bfbfbf 12%,#aaaaaa 21%,#bcbcbc 42%,#aaaaaa 42%,#aaaaaa 56%,#bcbcbc 56%,#b2b2b2 74%,#c9c9c9 85%,#b7b7b7 86%,#9899a5 100%);
    background: linear-gradient(to bottom,  #96999b 0%,#afb1b5 11%,#bfbfbf 12%,#aaaaaa 21%,#bcbcbc 42%,#aaaaaa 42%,#aaaaaa 56%,#bcbcbc 56%,#b2b2b2 74%,#c9c9c9 85%,#b7b7b7 86%,#9899a5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#96999b', endColorstr='#9899a5',GradientType=0 );

}

div.menu_image_positioning {
    position: absolute;
    font-size: 70px;
    padding-top: 105px;
    left: 3%;
    right: 20%;
    top: 4%;
    bottom: 18%;
}

div.option_image_positioning {
    position: absolute;
    font-size: 70px;
    padding-top: 105px;
    left: 3%;
    right: 3%;
    top: 4%;
    bottom: 28%;
}

div.menu_screen_positioning {
    position: absolute;
    font-size: 70px;
    padding-top: 105px;
    left: 7px;
    right: 7px;
    top: 7px;
    bottom: 18%;
    z-index:1;
}

div.image_frame {
    position:absolute;
    font-family: header_font;
    border: 3px solid #19191d;
    border-radius: 50% 50% 5% 4%/11% 11% 80% 80%;
    box-shadow: 0px 0px 8px #abc;
    background-color: #000;
    text-align: center;
    font-size: 70px;
    padding-top: 105px;
    left: 8px;
    right: 8px;
    top: 8px;
    bottom: 8px;
}

div.loading_screen {
    position:absolute;
    font-family: header_font;
    background-color: #000;
    text-align: center;
    font-size: 70px;
    padding-top: 105px;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

div.victory_screen {
    position:absolute;
    font-family: header_font;
    border-radius: inherit;
    background-color: rgba(0 ,50 ,0, 0.7);
    font-size: 70px;
    padding-top: 105px;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

div.progress_container {
    position:absolute;
    font-family: header_font;
    background-color: #2a1c2b;
    box-shadow: 0px 0px 10px #a46;
    border: 3px solid #000000;
    border-radius: 8px;
    text-align: center;
    font-size: 20px;
    padding: 3px;
    left: 40%;
    right: 40%;
    height: 10px;
    bottom: 10px;

    -webkit-transform: translate3d(0px, 10px, 0px);
    -webkit-transition: all 0.5s ease-in;
}

div.progress_bar {
    position:absolute;
    opacity: 0;
    font-family: header_font;
    background-color: #a69;
    border-radius: 6px;
    text-align: center;
    font-size: 20px;
    left: 0px;
    width: 10%;
    top: 0px;
    bottom: 0px;
    -webkit-transition: all 0.25s ease-in;

}

div.throttle_level {
    position:absolute;
    background-color: rgb(181, 125, 170);
    border-radius: 6px;
    text-align: center;
    font-size: 20px;
    left: 0px;
    right: 0px;
    height: 20;
    bottom: 0px;
}

div.ready_screen {
    position:absolute;
    background-size: 100% 100%;
    background-repeat-y: no-repeat;
    background-repeat-x: no-repeat;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

div.score_board_frame {
    border: 2px solid #000;
    border-radius: inherit;
    box-shadow: 0px 0px 7px #eef;

    position:absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;

    background: #035b10;
    background: -moz-linear-gradient(-45deg,  #035b10 0%, #0aa000 9%, #00cc0d 10%, #00ed0f 27%, #3ac44a 27%, #008e17 41%, #3ac44a 41%, #11aa00 52%, #008e17 53%, #008e17 64%, #11aa00 64%, #00ed0f 72%, #00ce1e 72%, #3ac44a 78%, #2ea536 84%, #008e17 84%, #008e17 85%, #00ef37 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#035b10), color-stop(9%,#0aa000), color-stop(10%,#00cc0d), color-stop(27%,#00ed0f), color-stop(27%,#3ac44a), color-stop(41%,#008e17), color-stop(41%,#3ac44a), color-stop(52%,#11aa00), color-stop(53%,#008e17), color-stop(64%,#008e17), color-stop(64%,#11aa00), color-stop(72%,#00ed0f), color-stop(72%,#00ce1e), color-stop(78%,#3ac44a), color-stop(84%,#2ea536), color-stop(84%,#008e17), color-stop(85%,#008e17), color-stop(100%,#00ef37));
    background: -webkit-linear-gradient(-45deg,  #035b10 0%,#0aa000 9%,#00cc0d 10%,#00ed0f 27%,#3ac44a 27%,#008e17 41%,#3ac44a 41%,#11aa00 52%,#008e17 53%,#008e17 64%,#11aa00 64%,#00ed0f 72%,#00ce1e 72%,#3ac44a 78%,#2ea536 84%,#008e17 84%,#008e17 85%,#00ef37 100%);
    background: -o-linear-gradient(-45deg,  #035b10 0%,#0aa000 9%,#00cc0d 10%,#00ed0f 27%,#3ac44a 27%,#008e17 41%,#3ac44a 41%,#11aa00 52%,#008e17 53%,#008e17 64%,#11aa00 64%,#00ed0f 72%,#00ce1e 72%,#3ac44a 78%,#2ea536 84%,#008e17 84%,#008e17 85%,#00ef37 100%);
    background: -ms-linear-gradient(-45deg,  #035b10 0%,#0aa000 9%,#00cc0d 10%,#00ed0f 27%,#3ac44a 27%,#008e17 41%,#3ac44a 41%,#11aa00 52%,#008e17 53%,#008e17 64%,#11aa00 64%,#00ed0f 72%,#00ce1e 72%,#3ac44a 78%,#2ea536 84%,#008e17 84%,#008e17 85%,#00ef37 100%);
    background: linear-gradient(135deg,  #035b10 0%,#0aa000 9%,#00cc0d 10%,#00ed0f 27%,#3ac44a 27%,#008e17 41%,#3ac44a 41%,#11aa00 52%,#008e17 53%,#008e17 64%,#11aa00 64%,#00ed0f 72%,#00ce1e 72%,#3ac44a 78%,#2ea536 84%,#008e17 84%,#008e17 85%,#00ef37 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#035b10', endColorstr='#00ef37',GradientType=1 );

}

div.option_button_config {
    font-size: 20px;
}

div.menu_button_config {
    font-size: 40px;

}

div.menu_button {
    pointer-events: auto;
    position:absolute;
    font-family: header_font;
    background: -webkit-linear-gradient(top, #258EF7 0%,#68BDFF 50%,#359AFF 51%,#062ED1 100%); /* Chrome10+,Safari5.1+ */
    z-index: 20;
    background: #18f240;
    background: -moz-radial-gradient(center, ellipse cover,  #18f240 0%, #20d63b 34%, #0a6305 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#18f240), color-stop(34%,#20d63b), color-stop(100%,#0a6305));
    background: -webkit-radial-gradient(center, ellipse cover,  #18f240 0%,#20d63b 34%,#0a6305 100%);
    background: -o-radial-gradient(center, ellipse cover,  #18f240 0%,#20d63b 34%,#0a6305 100%);
    background: -ms-radial-gradient(center, ellipse cover,  #18f240 0%,#20d63b 34%,#0a6305 100%);
    background: radial-gradient(ellipse at center,  #18f240 0%,#20d63b 34%,#0a6305 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#18f240', endColorstr='#0a6305',GradientType=1 );


    border: 3px solid #000113;
    border-radius: 50% 50% 5% 4%/11% 11% 50% 50%;
    box-shadow: 0px 0px 12px #cde;
    -moz-box-shadow: 0px 0px 12px #cde;

    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
    text-align: center;
    height: auto;
    right: 5%;
    bottom: 5%;
    color: #027614;
    text-shadow: 0px 0px 6px #cfc;
    -webkit-transition: all 0.2s ease-in;
}

div.menu_button:hover {
    background: #84f49a;
    background: -moz-radial-gradient(center, ellipse cover,  #84f49a 1%, #25f744 44%, #0aad22 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%,#84f49a), color-stop(44%,#25f744), color-stop(100%,#0aad22));
    background: -webkit-radial-gradient(center, ellipse cover,  #84f49a 1%,#25f744 44%,#0aad22 100%);
    background: -o-radial-gradient(center, ellipse cover,  #84f49a 1%,#25f744 44%,#0aad22 100%);
    background: -ms-radial-gradient(center, ellipse cover,  #84f49a 1%,#25f744 44%,#0aad22 100%);
    background: radial-gradient(ellipse at center,  #84f49a 1%,#25f744 44%,#0aad22 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#84f49a', endColorstr='#0aad22',GradientType=1 );
    box-shadow: 0px 0px 17px #7d7;
    border: 3px solid #048703;
    color: #075e19;
    text-shadow: 0px 0px 9px #afa;
}
div.menu_button:active {
    background: #a3ffb2;
    background: -moz-radial-gradient(center, ellipse cover,  #a3ffb2 1%, #7bf289 53%, #65f782 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%,#a3ffb2), color-stop(53%,#7bf289), color-stop(100%,#65f782));
    background: -webkit-radial-gradient(center, ellipse cover,  #a3ffb2 1%,#7bf289 53%,#65f782 100%);
    background: -o-radial-gradient(center, ellipse cover,  #a3ffb2 1%,#7bf289 53%,#65f782 100%);
    background: -ms-radial-gradient(center, ellipse cover,  #a3ffb2 1%,#7bf289 53%,#65f782 100%);
    background: radial-gradient(ellipse at center,  #a3ffb2 1%,#7bf289 53%,#65f782 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a3ffb2', endColorstr='#65f782',GradientType=1 );
    box-shadow: 0px 0px 27px #9f9;
    color: #dbffd9;
    text-shadow: 0px 0px 9px #efe;
    border: 3px solid #26ad2f;

}



div.score_board_header_frame {
    font-size: 32px;
    font-family: header_font;
    color: #E5FFFE;
    position:absolute;
    text-align: center;
    top: 6px;
    left: 20px;
    right: 20px;
    height: 38px;
}

div.score_board_box_header {
    font-size: 20px;
    font-family: header_font;
    color: #E5FFFE;
    position:absolute;
    text-align: center;
    top: -28px;
    left: 0px;
    right: 0px;
    height: 24px;
}

div.score_board_result_box_frame {
    text-align: center;
    border: 1px solid #000;
    border-radius: 50% 50% 5% 4%/11% 11% 80% 80%;
    box-shadow: 0px 0px 18px #B5D5FF;
    background: rgba(0, 0, 0, 0.4);
    position:absolute;
    left: 10px;
    right: 10px;
    top: 54px;
    bottom: 10px;
}

div.score_board_result_box {
    display: inline-block;
    border: 1px solid #000;
    border-radius: 50% 50% 5% 4%/11% 11% 80% 80%;
    box-shadow: 0px 0px 18px #CDF7FF;
    background: rgba(0, 0, 0, 0.4);
    position:relative;
    padding: 0px;
    margin: 2%;
    top: 20px;
    left: auto;
    bottom: 0px;

    width: 45%;
    height: 84%;

}

div.score_board_entry_container {
    display: inline-block;
    height: 20%;
    width: 100%;
    position:relative;
}

div.score_board_entry_slot {
    font-family: rich_font;
    color: #D7FFD2;
    text-align: left;
    font-size: inherit;
    border: 1px solid #000;
    border-radius: 50% 50% 5% 4%/11% 11% 80% 80%;
    box-shadow: 0px 0px 18px #AFF3B5;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 0px;
    top: 4px;
    width: 100%;
    bottom: 4px;


}

div.score_board_key_slot {
     font-family: rich_font;
     color: #D7FFD2;
     text-align: left;
     font-size: inherit;
     position: absolute;
    bottom: 0px;
}

div.score_board_value_slot {
     font-family: rich_font;
     color: #E5FFFE;
     text-align: right;
     font-size: inherit;
     position:absolute;
     right: 30%;
     bottom: -20%;
     width: auto;
}

div.score_board_unit_slot {
    font-family: rich_font;
    color: #D7FFD2;
    text-align: left;
    font-size: inherit;
    position:absolute;
    right: 0px;
    bottom: 0px;
    width: 27%;
}

div.option_box {
    display: inline-block;
    border: 1px solid #000;
    border-radius: 50% 50% 5% 4%/11% 11% 80% 80%;
    box-shadow: 0px 0px 9px #000;
    background: rgba(0, 200, 0, 0.4);
    position:relative;
    padding: 0px;
    margin: 2%;
    top: 20px;
    left: auto;
    bottom: 0px;
    width: 45%;
    height: 84%;

}